@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  background: transparent;
  width: 2px;
}

*::-webkit-scrollbar-thumb {
  @apply bg-violet/50 rounded-full;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  background: transparent;
}

.scrollbar-hidden:hover::-webkit-scrollbar-thumb {
  @apply bg-green;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
